{% extends 'main.html'%}

{% block content%}

    <h1>Home Templates</h1>
        <p>This is my home page</p>
        

        <div>
            <!-- Create new post to the blog -->
            <a href="{% url 'create' %}">Create</a>
            {# loop through the name tag and get the url name create #}
            
            <div>
                 {% for post_detail in post_details %}
                <a href="{% url 'update' post_detail.id %}">Edith</a>
                <div>
                    <span>@{{post_detail.author.title}}</span>
                    <h4>{{post_detail.title}} -- <a href="{% url 'news' post_detail.id%}">{{post_detail.id}}</a></h4>
                    <small>{{post_detail.author.title}}</small>
                </div>
                {% endfor %} 


            </div>



        </div>  

{% endblock content %}

