{% extends 'main.html'%}

{% block content%}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

</style>


<div class="home-container">

    <div>
        <h2>Browse News</h2>
    <hr>
    <div>
        <!-- This will help us to get all the user value and comments on the homepage   -->
       <a href="{% url 'home' %}">All</a>
    </div>
        <!-- searching for the user who posted the news   -->
    {% for user in user_comments%}
    <div>
        <!-- this will get a specific user post send by the user to the homepage and get the user post -->
        <a href="{% url 'home' %}?q={{user.post}}">{{user.user}}</a>
    </div>
    {% endfor %}
</div>

<div>
    <!-- Count the number of post in the blog -->
    <h4>{{post_count}} Posted </h4>
  <!-- Create new post to the blog -->
  <a href="{% url 'create' %}">Create</a>
  {# loop through the name tag and get the url name create #}
  
  <div>
       {% for post_detail in post_details %}
      <a href="{% url 'update' post_detail.id %}">Edith</a>
      <div>
          <span>@{{post_detail.title}}</span>

          <h4>{{post_detail.author}} -- <a href="{% url 'news' post_detail.id%}">{{post_detail.id}}</a></h4>
          <small>{{post_detail.content}}</small>
          <a href="{% url 'delete' post_detail.id %}">Delete</a>
          <hr>
          
      </div>
      {% endfor %} 


  </div>


</div>

  
        

</div>  

{% endblock content %}

