<h2>Browse News</h2>
<hr>
<div>
        <div>
            <!-- This will help us to get back to the main page   -->
        <a href="{% url 'home' %}">All</a>
        </div>
            <!-- searching for the user who posted the news   -->
        
        </div>
        {% for user in category %}

        <div>
            
            <!-- this will get a specific user post send by the user to the homepage and get the user post -->
            <a href="{% url 'home' %}?q={{user.name}}">{{user.name}}</a>
        </div>
{% endfor %}